.toc {
  display: flex;
  flex-direction: column;

  > div {
    display: flex;

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      color: var(--background);
      background-color: var(--base);
      border-radius: 1rem;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;

      > span {
        padding-left: 0.5rem;
        font-size: 1.25rem;
        font-weight: var(--font-bold);
        color: var(--base);
      }
    }
  }

  > nav {
    padding-top: 1rem;
    padding-left: 0.5rem;

    li {
      padding: 0.25rem 0 0.25rem 1rem;

      a {
        color: var(--link-color);
      }
    }

    > ul > li {
      border-left: 3px solid var(--gray-300);
    }
  }
}
