.post-header {
  color: var(--base);
  border-bottom: 1px solid var(--base);

  > h1 {
    font-size: 1.75rem;
    font-weight: var(--font-bold);
    text-align: center;
  }

  > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 0.5rem;

    div {
      display: flex;
      align-items: center;
      padding-top: 0.5rem;
      padding-right: 0.5rem;
      font-size: 1rem;

      > svg {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
      }

      > ul {
        display: flex;

        > li {
          padding-right: 0.5rem;
        }
      }
    }
  }
}
