.button {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  color: var(--foreground);

  & svg {
    width: 1.75rem;
    height: 1.75rem;
  }
}

.faSun {
  display: var(--fa-sun-visibility);
}

.faMoon {
  display: var(--fa-moon-visibility);
}
